In [1]:
!pip install duckdb
!pip install pandas
!pip install pyarrow
!pip install fastparquet

Requirement already satisfied: duckdb in ./.venv/lib/python3.11/site-packages (1.1.3)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pyarrow in ./.venv/lib/python3.11/site-packages (18.0.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: fastparquet in ./.venv/lib/python3.11/site-packages (2024.5.0)
Requirement already satisfied: pandas>=1.5.0 in ./.venv/lib/python3.11/site-packages (from fastparquet) (2.2.3)
Requirement already satisfied: numpy in ./.venv/lib/python3.11/site-packages (from fastparquet) (2.1.3)
Requirement already satisfied: cramjam>=2.3 in ./.venv/lib/python3.11/site-packages (from fastparquet) (2.9.0)
Requirement already satisfied: fsspec in ./.venv/lib/python3.11/site-packages (from fastparquet) (2024.10.0)
Requirement already satisfied: packaging in ./.venv/lib/python3.11/site-packages (from fastparquet) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas>=1.5.0->fastparquet) (2024.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [2]:
import duckdb
import pandas as pd

In [3]:
con = duckdb.connect()

In [16]:
query = """
SELECT accountid, gender,age
FROM 'accounts.parquet'
"""

In [17]:
accounts = con.execute(query).df()

,accountid,gender,age,name,phonenumber,__index_level_0__
0,cf1379f3-f8a3-4ea4-a134-636f8cd0e258,M,46,Craig Clarke,0644306024,0
1,b25394ff-b7f7-43b3-b599-5a1610b8ac52,V,46,Robert Robinson,0697486926,1
2,81747dfa-08ed-4e17-a1c8-e8d55916aa09,V,53,Hannah Michael,0647066682,2
3,a61928cb-7f86-400b-99cc-b26f6b9ba92a,M,32,Sherri Wade,0676003045,3
4,2b081b50-ec32-40bc-b2c4-974c778bbcbb,M,60,Melissa Potter,0632887459,4
...,...,...,...,...,...,...
190993,e5fd513a-7ef3-4a70-a13f-f507a06986a6,V,61,Christine Martinez,0893941444,93083
190994,c01a567d-0e0b-4089-93ed-860c0e83aa0e,V,42,Christopher Frank,0882800779,93084
190995,1ec67160-3500-4f2b-bba5-4deda6cba084,X,54,Sara Johnson,0850648632,93085
190996,ee3c5b48-759f-455f-b7be-9fcac61ff4af,M,57,Michael Montgomery,0864257871,93086
190997,531a9ff7-f4f8-4511-b159-4f15fafea4fe,X,50,Thomas Evans,0866872508,93087

In [6]:
pageviews = pd.read_parquet('pageviews.parquet')[['brandcode', 'servertimestamp', 'articleid', 'accountid']]

## Global pre-processing

In [7]:
pageviews['timestamp_date_hour'] = pd.to_datetime(pageviews['servertimestamp'], unit='ms').dt.strftime('%Y-%m-%d %H')
pageviews

,brandcode,servertimestamp,articleid,accountid,timestamp_date_hour
0,nhd,1.727226e+12,20681891,aca514f0-f777-4da5-a73a-1b768b0dd8af,2024-09-25 00
1,nhd,1.727223e+12,20681891,d0e04f66-28db-4c23-8e72-3f577990fc64,2024-09-25 00
2,nhd,1.727225e+12,20681891,3eddef8d-b8d4-4c5e-8ac5-54f179dceae8,2024-09-25 00
3,nhd,1.727225e+12,20799840,7ea7b798-cc7b-4a9e-9322-4b6c8e74dd09,2024-09-25 00
4,nhd,1.727225e+12,20681891,3f0a7785-d652-4053-bdee-83b4114114f7,2024-09-25 00
...,...,...,...,...,...
390,sw,1.727309e+12,a1502952156,f797e903-ee4d-4c0f-ab76-a8dc4128b4b1,2024-09-26 00
391,sw,1.727309e+12,a1066573877,9c36c65e-e34a-4d84-8399-7181c1f5b14a,2024-09-25 23
392,sw,1.727309e+12,a269051120,8f80078c-a4a4-4a35-998a-61871ea2f39b,2024-09-26 00
393,sw,1.727309e+12,a1265681930,6a2168a3-ec24-4b77-8d6b-ba9c3a54beda,2024-09-25 23
394,sw,1.727309e+12,a1831896309,309eec2d-4457-411a-8286-accd2938612c,2024-09-25 23

In [8]:
accounts_pageviews = pageviews.merge(accounts,on='accountid', how='inner')
accounts_pageviews

,brandcode,servertimestamp,articleid,accountid,timestamp_date_hour,gender,age
0,nhd,1.727226e+12,20681891,aca514f0-f777-4da5-a73a-1b768b0dd8af,2024-09-25 00,V,53
1,nhd,1.727223e+12,20681891,d0e04f66-28db-4c23-8e72-3f577990fc64,2024-09-25 00,V,40
2,nhd,1.727225e+12,20681891,3eddef8d-b8d4-4c5e-8ac5-54f179dceae8,2024-09-25 00,V,52
3,nhd,1.727226e+12,20828704,12b4bef6-e680-4456-92ea-490ec8a70b18,2024-09-25 01,V,48
4,nhd,1.727225e+12,20749431,944d29af-8227-4d51-b0e5-49c76a94075f,2024-09-25 00,X,36
...,...,...,...,...,...,...,...
337482,sw,1.727307e+12,a1771291222,ce840ea9-4600-40b0-8579-d03c6bee79b7,2024-09-25 23,M,56
337483,sw,1.727307e+12,a598475578,2e90385a-1ce9-48e0-a823-d8991c472500,2024-09-25 23,M,55
337484,sw,1.727309e+12,a1502952156,f797e903-ee4d-4c0f-ab76-a8dc4128b4b1,2024-09-26 00,M,57
337485,sw,1.727309e+12,a1066573877,9c36c65e-e34a-4d84-8399-7181c1f5b14a,2024-09-25 23,X,51
337486,sw,1.727309e+12,a1831896309,309eec2d-4457-411a-8286-accd2938612c,2024-09-25 23,M,57

In [9]:
pageviews_males = accounts_pageviews[accounts_pageviews['gender'] == 'M']
pageviews_females = accounts_pageviews[accounts_pageviews['gender'] == 'V']
pageviews_younger_than_50 = accounts_pageviews[accounts_pageviews['age'] < 50]
pageviews_older_than_50 = accounts_pageviews[accounts_pageviews['age'] >= 50]

In [10]:
# For Males
nhd_pv_males = pageviews_males[pageviews_males['brandcode'] == 'nhd']
sw_pv_males = pageviews_males[pageviews_males['brandcode'] == 'sw']

# For Females
nhd_pv_females = pageviews_females[pageviews_females['brandcode'] == 'nhd']
sw_pv_females = pageviews_females[pageviews_females['brandcode'] == 'sw']

# For People Younger Than 50
nhd_pv_younger_than_50 = pageviews_younger_than_50[pageviews_younger_than_50['brandcode'] == 'nhd']
sw_pv_younger_than_50 = pageviews_younger_than_50[pageviews_younger_than_50['brandcode'] == 'sw']

# For People Older Than 50
nhd_pv_older_than_50 = pageviews_older_than_50[pageviews_older_than_50['brandcode'] == 'nhd']
sw_pv_older_than_50 = pageviews_older_than_50[pageviews_older_than_50['brandcode'] == 'sw']

# Globally
nhd_pv = pageviews[pageviews['brandcode'] == 'nhd']
sw_pv = pageviews[pageviews['brandcode'] == 'sw']

nhd_pv

,brandcode,servertimestamp,articleid,accountid,timestamp_date_hour
0,nhd,1.727226e+12,20681891,aca514f0-f777-4da5-a73a-1b768b0dd8af,2024-09-25 00
1,nhd,1.727223e+12,20681891,d0e04f66-28db-4c23-8e72-3f577990fc64,2024-09-25 00
2,nhd,1.727225e+12,20681891,3eddef8d-b8d4-4c5e-8ac5-54f179dceae8,2024-09-25 00
3,nhd,1.727225e+12,20799840,7ea7b798-cc7b-4a9e-9322-4b6c8e74dd09,2024-09-25 00
4,nhd,1.727225e+12,20681891,3f0a7785-d652-4053-bdee-83b4114114f7,2024-09-25 00
...,...,...,...,...,...
948,nhd,1.727308e+12,20842007,f8d2e6d0-4c5f-4ac9-898c-c6d0f3866492,2024-09-25 23
949,nhd,1.727308e+12,20842767,cce7367e-273f-449e-88d0-854b48dd5cb0,2024-09-25 23
950,nhd,1.727308e+12,20854784,2d7f48e4-5fd4-474c-9335-62dca418ad9f,2024-09-25 23
951,nhd,1.727306e+12,20955919,341059c7-d6cd-448f-8d47-05667d13bb88,2024-09-25 23
952,nhd,1.727308e+12,20745049,0ec75eee-67aa-41c2-b8bc-6372ac42a232,2024-09-25 23

## Most trending articles

In [11]:
def calculate_trend(data, timestamp_col, article_col):
    grouped_data = data.groupby([timestamp_col, article_col]).size().reset_index(name='count')
    grouped_data = grouped_data.sort_values([article_col, timestamp_col])
    grouped_data['previous_count'] = grouped_data.groupby(article_col)['count'].shift(1)
    grouped_data['trend'] = ((grouped_data['count'] - grouped_data['previous_count']) / grouped_data['previous_count']) * 100
    grouped_data['trend'] = grouped_data['trend'].fillna(0)
    return grouped_data

def most_trending_per_hour(grouped_data):
    max_trend_indices = grouped_data.groupby('timestamp_date_hour')['trend'].idxmax()
    max_trend_data = grouped_data.loc[max_trend_indices, ['timestamp_date_hour', 'articleid', 'trend']]
    return max_trend_data

def n_most_trending(grouped_data, timestamp, n=3):
    articles_at_timestamp = grouped_data[grouped_data['timestamp_date_hour'] == timestamp]
    top_trending_articles = articles_at_timestamp.sort_values(by='trend', ascending=False).head(n)
    return top_trending_articles[['timestamp_date_hour', 'articleid', 'trend']]

## Calculate trends:

In [12]:
nhd_pv_males_trend = calculate_trend(nhd_pv_males, 'timestamp_date_hour', 'articleid')
sw_pv_males_trend = calculate_trend(sw_pv_males, 'timestamp_date_hour', 'articleid')

nhd_pv_females_trend = calculate_trend(nhd_pv_females, 'timestamp_date_hour', 'articleid')
sw_pv_females_trend = calculate_trend(sw_pv_females, 'timestamp_date_hour', 'articleid')

nhd_pv_younger_than_50_trend = calculate_trend(nhd_pv_younger_than_50, 'timestamp_date_hour', 'articleid')
sw_pv_younger_than_50_trend = calculate_trend(sw_pv_younger_than_50, 'timestamp_date_hour', 'articleid')

nhd_pv_older_than_50_trend = calculate_trend(nhd_pv_older_than_50, 'timestamp_date_hour', 'articleid')
sw_pv_older_than_50_trend = calculate_trend(sw_pv_older_than_50, 'timestamp_date_hour', 'articleid')

nhd_pv_trend = calculate_trend(nhd_pv,'timestamp_date_hour','articleid')
sw_pv_trend = calculate_trend(sw_pv,'timestamp_date_hour','articleid')
nhd_pv_trend

,timestamp_date_hour,articleid,count,previous_count,trend
3982,2024-09-25 09,10002209,1,NaN,0.000000
8220,2024-09-25 14,10002432,1,NaN,0.000000
11592,2024-09-25 18,10002432,1,1.0,0.000000
6514,2024-09-25 12,10477948,1,NaN,0.000000
8221,2024-09-25 14,10477998,1,NaN,0.000000
...,...,...,...,...,...
10002,2024-09-25 15,dmf20240522_46850405,1,7.0,-85.714286
10776,2024-09-25 16,dmf20240522_46850405,1,1.0,0.000000
11591,2024-09-25 17,dmf20240522_46850405,5,1.0,400.000000
12513,2024-09-25 18,dmf20240522_46850405,3,5.0,-40.000000
13361,2024-09-25 19,dmf20240522_46850405,2,3.0,-33.333333

## Calculate most trending:

In [13]:
most_trending_nhd_pv_males = most_trending_per_hour(nhd_pv_males_trend)
most_trending_sw_pv_males = most_trending_per_hour(sw_pv_males_trend)

most_trending_nhd_pv_females = most_trending_per_hour(nhd_pv_females_trend)
most_trending_sw_pv_females = most_trending_per_hour(sw_pv_females_trend)

most_trending_nhd_pv_younger_than_50 = most_trending_per_hour(nhd_pv_younger_than_50_trend)
most_trending_sw_pv_younger_than_50 = most_trending_per_hour(sw_pv_younger_than_50_trend)

most_trending_nhd_pv_older_than_50 = most_trending_per_hour(nhd_pv_older_than_50_trend)
most_trending_sw_pv_older_than_50 = most_trending_per_hour(sw_pv_older_than_50_trend)

most_trending_nhd_pv = most_trending_per_hour(nhd_pv_trend)
most_trending_sw_pv = most_trending_per_hour(sw_pv_trend)

most_trending_nhd_pv

      timestamp_date_hour articleid         trend
0           2024-09-25 00  10482775      0.000000
194         2024-09-25 01  19806164    450.000000
436         2024-09-25 02  20675049    800.000000
650         2024-09-25 03  20682508   1300.000000
889         2024-09-25 04  20427975   1700.000000
1598        2024-09-25 05  20764750  10083.333333
2318        2024-09-25 06  20802018   4200.000000
2618        2024-09-25 07  15812707    600.000000
3560        2024-09-25 08  20174316    600.000000
4765        2024-09-25 09  20844945  37100.000000
5209        2024-09-25 10  20010722   1833.333333
6420        2024-09-25 11  20816569   1950.000000
7165        2024-09-25 12  20756165   1350.000000
8031        2024-09-25 13  20773574   1230.434783
8782        2024-09-25 14  20588323   1200.000000
9952        2024-09-25 15  20899344   2000.000000
10748       2024-09-25 16  20927492   1925.000000
11537       2024-09-25 17  20905247   6200.000000
12137       2024-09-25 18  20604486    600.000000
13269       2024-09-25 19  20862757  15800.000000
13751       2024-09-25 20  20426702    800.000000
14429       2024-09-25 21  20609426    500.000000
14844       2024-09-25 22  20136413    300.000000
15178       2024-09-25 23  20232865    500.000000
15401       2024-09-26 00  20767777    500.000000

### Calulcate top 3 between 12h and 13h

In [14]:
top_3_trending_12_13_nhd_pv_males = n_most_trending(nhd_pv_males_trend, "2024-09-25 12", n=3)
top_3_trending_12_13_sw_pv_males = n_most_trending(sw_pv_males_trend, "2024-09-25 12", n=3)

top_3_trending_12_13_nhd_pv_females = n_most_trending(nhd_pv_females_trend, "2024-09-25 12", n=3)
top_3_trending_12_13_sw_pv_females = n_most_trending(sw_pv_females_trend, "2024-09-25 12", n=3)

top_3_trending_12_13_nhd_pv_younger_than_50 = n_most_trending(nhd_pv_younger_than_50_trend, "2024-09-25 12", n=3)
top_3_trending_12_13_sw_pv_younger_than_50 = n_most_trending(sw_pv_younger_than_50_trend, "2024-09-25 12", n=3)

top_3_trending_12_13_nhd_pv_older_than_50 = n_most_trending(nhd_pv_older_than_50_trend, "2024-09-25 12", n=3)
top_3_trending_12_13_sw_pv_older_than_50 = n_most_trending(sw_pv_older_than_50_trend, "2024-09-25 12", n=3)

top_3_trending_12_13_nhd_pv = n_most_trending(nhd_pv_trend, "2024-09-25 12", n=3)
top_3_trending_12_13_sw_pv = n_most_trending(sw_pv_trend, "2024-09-25 12", n=3)

top_3_trending_12_13_nhd_pv

     timestamp_date_hour articleid        trend
7165       2024-09-25 12  20756165  1350.000000
7012       2024-09-25 12  20584608   541.641337
7136       2024-09-25 12  20734719   500.000000

### Printing out the info:

In [15]:
# Separate dictionaries for NHD and SW
nhd_dataframes = {
    "Males": nhd_pv_males_trend,
    "Females": nhd_pv_females_trend,
    "Younger than 50": nhd_pv_younger_than_50_trend,
    "Older than 50": nhd_pv_older_than_50_trend,
    "Global": nhd_pv_trend
}

sw_dataframes = {
    "Males": sw_pv_males_trend,
    "Females": sw_pv_females_trend,
    "Younger than 50": sw_pv_younger_than_50_trend,
    "Older than 50": sw_pv_older_than_50_trend,
    "Global": sw_pv_trend
}

# Loop for NHD dataframes
print("\n========== NHD ==========\n")
for label, df in nhd_dataframes.items():
    # Get the most trending articles per hour
    most_trending = most_trending_per_hour(df)
    # Get the top 3 trending articles between 12 and 13
    top_3_trending = n_most_trending(df, "2024-09-25 12", n=3)

    # Print the information
    print(f"--- {label} ---")
    print("Most trending articles per hour:")
    print(most_trending)
    print("\nTop 3 trending articles between 12 and 13:")
    print(top_3_trending)
    print("\n" + "="*50 + "\n")

# Loop for SW dataframes
print("\n========== SW ==========\n")
for label, df in sw_dataframes.items():
    # Get the most trending articles per hour
    most_trending = most_trending_per_hour(df)
    # Get the top 3 trending articles between 12 and 13
    top_3_trending = n_most_trending(df, "2024-09-25 12", n=3)

    # Print the information
    print(f"--- {label} ---")
    print("Most trending articles per hour:")
    print(most_trending)
    print("\nTop 3 trending articles between 12 and 13:")
    print(top_3_trending)
    print("\n" + "="*50 + "\n")

========== NHD ==========

--- Males ---
Most trending articles per hour:
     timestamp_date_hour articleid         trend
0          2024-09-25 00  10482775      0.000000
143        2024-09-25 01  20727884    400.000000
235        2024-09-25 02  20727005    400.000000
333        2024-09-25 03  20677679    800.000000
626        2024-09-25 04  20820236   1200.000000
865        2024-09-25 05  20764750   6437.500000
1234       2024-09-25 06  20802018   4000.000000
1532       2024-09-25 07  20727377    900.000000
1836       2024-09-25 08  20477680    500.000000
2430       2024-09-25 09  20844945  10900.000000
2588       2024-09-25 10  20010722   1900.000000
3239       2024-09-25 11  20816569   2900.000000
3570       2024-09-25 12  20756165   1150.000000
3981       2024-09-25 13  20773574    982.352941
4504       2024-09-25 14  20895367   1217.948718
4755       2024-09-25 15  20678136   1100.000000
5228       2024-09-25 16  20756250    964.864865
5775       2024-09-25 17  20905247   2400.000000
5967       2024-09-25 18  20499756    600.000000
6551       2024-09-25 19  20878477   1000.000000
6715       2024-09-25 20  20426702    600.000000
7088       2024-09-25 21  20677809    700.000000
7323       2024-09-25 22  20681891    200.000000
7528       2024-09-25 23  20801336    300.000000
7585       2024-09-26 00  20767777    100.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour articleid        trend
3570       2024-09-25 12  20756165  1150.000000
3503       2024-09-25 12  20665636   600.000000
3482       2024-09-25 12  20584608   545.238095

==================================================

--- Females ---
Most trending articles per hour:
     timestamp_date_hour articleid        trend
0          2024-09-25 00  11248623     0.000000
131        2024-09-25 01  20727884   200.000000
181        2024-09-25 02  20505809   400.000000
383        2024-09-25 03  20822876  1000.000000
427        2024-09-25 04  20232865  1300.000000
844        2024-09-25 05  20764750  8416.666667
1229       2024-09-25 06  20802018  2700.000000
1588       2024-09-25 07  20774741   500.000000
1935       2024-09-25 08  20734719   700.000000
2308       2024-09-25 09  20718284  2600.000000
2581       2024-09-25 10  20010722  1500.000000
3210       2024-09-25 11  20816569  2050.000000
3407       2024-09-25 12  20584608   640.229885
3899       2024-09-25 13  20773574  1000.000000
4357       2024-09-25 14  20791935  1300.000000
4544       2024-09-25 15  13203226   500.000000
5126       2024-09-25 16  20756250  1246.428571
5305       2024-09-25 17  11426711  1500.000000
6049       2024-09-25 18  20828590   600.000000
6523       2024-09-25 19  20862757  4500.000000
6901       2024-09-25 20  20868660   850.000000
7202       2024-09-25 21  20952459   566.666667
7282       2024-09-25 22  20727900   200.000000
7484       2024-09-25 23  20868660   200.000000
7512       2024-09-26 00  20685939    66.666667

Top 3 trending articles between 12 and 13:
     timestamp_date_hour articleid       trend
3407       2024-09-25 12  20584608  640.229885
3387       2024-09-25 12  20497683  600.000000
3602       2024-09-25 12  20860463  540.000000

==================================================

--- Younger than 50 ---
Most trending articles per hour:
     timestamp_date_hour articleid        trend
0          2024-09-25 00  10482775     0.000000
140        2024-09-25 01  20613273   300.000000
247        2024-09-25 02  20727005   400.000000
388        2024-09-25 03  20756051   600.000000
466        2024-09-25 04  19806164   800.000000
875        2024-09-25 05  20764750  6575.000000
1008       2024-09-25 06  14359621   700.000000
1489       2024-09-25 07  20588072   700.000000
1988       2024-09-25 08  20734719  1800.000000
2481       2024-09-25 09  20842007   575.000000
2823       2024-09-25 10  20739488  1500.000000
3330       2024-09-25 11  20816569  2250.000000
3557       2024-09-25 12  20584608   629.885057
4068       2024-09-25 13  20773574   900.000000
4619       2024-09-25 14  20895367  1033.333333
4907       2024-09-25 15  20724816   800.000000
5367       2024-09-25 16  20756250  1078.787879
5561       2024-09-25 17  11426711  1600.000000
6212       2024-09-25 18  20675049   600.000000
6802       2024-09-25 19  20862757  3900.000000
6985       2024-09-25 20  20426702   600.000000
7382       2024-09-25 21  20741239   300.000000
7574       2024-09-25 22  19737039   200.000000
7759       2024-09-25 23  20364887   100.000000
7874       2024-09-26 00  20578092   100.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour articleid       trend
3557       2024-09-25 12  20584608  629.885057
3712       2024-09-25 12  20804812  400.000000
3664       2024-09-25 12  20758384  400.000000

==================================================

--- Older than 50 ---
Most trending articles per hour:
     timestamp_date_hour articleid         trend
0          2024-09-25 00  11185721      0.000000
164        2024-09-25 01  20806020    600.000000
255        2024-09-25 02  20762798    400.000000
383        2024-09-25 03  20773796   1000.000000
452        2024-09-25 04  20232865   1150.000000
870        2024-09-25 05  20764750   9216.666667
1073       2024-09-25 06  20514192   1600.000000
1561       2024-09-25 07  20734719    500.000000
2058       2024-09-25 08  20802594    500.000000
2503       2024-09-25 09  20844945  11400.000000
2644       2024-09-25 10  20010722   1050.000000
3271       2024-09-25 11  20816569   3100.000000
3594       2024-09-25 12  20756165   1400.000000
4022       2024-09-25 13  20773574   1207.142857
4571       2024-09-25 14  20895367   1563.636364
4737       2024-09-25 15  20012047    700.000000
5394       2024-09-25 16  20852660   1950.000000
5833       2024-09-25 17  20905247   1900.000000
6221       2024-09-25 18  20828590    700.000000
6705       2024-09-25 19  20940560    800.000000
7071       2024-09-25 20  20898075    700.000000
7210       2024-09-25 21  20514564    600.000000
7447       2024-09-25 22  20497683    200.000000
7616       2024-09-25 23  20578092    600.000000
7709       2024-09-26 00  20685939     80.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour articleid        trend
3594       2024-09-25 12  20756165  1400.000000
3509       2024-09-25 12  20584608   556.989247
3514       2024-09-25 12  20594470   450.000000

==================================================

--- Global ---
Most trending articles per hour:
      timestamp_date_hour articleid         trend
0           2024-09-25 00  10482775      0.000000
194         2024-09-25 01  19806164    450.000000
436         2024-09-25 02  20675049    800.000000
650         2024-09-25 03  20682508   1300.000000
889         2024-09-25 04  20427975   1700.000000
1598        2024-09-25 05  20764750  10083.333333
2318        2024-09-25 06  20802018   4200.000000
2618        2024-09-25 07  15812707    600.000000
3560        2024-09-25 08  20174316    600.000000
4765        2024-09-25 09  20844945  37100.000000
5209        2024-09-25 10  20010722   1833.333333
6420        2024-09-25 11  20816569   1950.000000
7165        2024-09-25 12  20756165   1350.000000
8031        2024-09-25 13  20773574   1230.434783
8782        2024-09-25 14  20588323   1200.000000
9952        2024-09-25 15  20899344   2000.000000
10748       2024-09-25 16  20927492   1925.000000
11537       2024-09-25 17  20905247   6200.000000
12137       2024-09-25 18  20604486    600.000000
13269       2024-09-25 19  20862757  15800.000000
13751       2024-09-25 20  20426702    800.000000
14429       2024-09-25 21  20609426    500.000000
14844       2024-09-25 22  20136413    300.000000
15178       2024-09-25 23  20232865    500.000000
15401       2024-09-26 00  20767777    500.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour articleid        trend
7165       2024-09-25 12  20756165  1350.000000
7012       2024-09-25 12  20584608   541.641337
7136       2024-09-25 12  20734719   500.000000

==================================================


========== SW ==========

--- Males ---
Most trending articles per hour:
     timestamp_date_hour    articleid         trend
0          2024-09-25 00   1203340522      0.000000
198        2024-09-25 01     41244638    300.000000
535        2024-09-25 02   a659695930    300.000000
651        2024-09-25 03   a194086067    500.000000
782        2024-09-25 04  a1588846459    500.000000
910        2024-09-25 05  a1306969954    700.000000
1071       2024-09-25 06  a1001587316   3947.619048
1358       2024-09-25 07  a1353033869    400.000000
1854       2024-09-25 08   a981929899   2266.666667
1938       2024-09-25 09  a1091031912   1075.000000
2413       2024-09-25 10  a1955316831    800.000000
2764       2024-09-25 11  a1871307966    653.846154
3301       2024-09-25 12   a926865778    900.000000
3516       2024-09-25 13  a2044183520   1100.000000
4012       2024-09-25 14   a754500819  12450.000000
4378       2024-09-25 15   a626574968   1125.000000
4695       2024-09-25 16   a307413284   1535.000000
4999       2024-09-25 17  a1771291222    806.666667
5397       2024-09-25 18  a1729003580   7300.000000
5757       2024-09-25 19  a1481123319   5900.000000
6336       2024-09-25 20   a352774181   6866.666667
6720       2024-09-25 21  a1901395828    600.000000
7124       2024-09-25 22  a1939906599    500.000000
7533       2024-09-25 23   a509459291   1100.000000
7627       2024-09-26 00  a1855690026    200.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour    articleid  trend
3301       2024-09-25 12   a926865778  900.0
3171       2024-09-25 12  a1998029667  800.0
3025       2024-09-25 12  a1193872604  800.0

==================================================

--- Females ---
Most trending articles per hour:
     timestamp_date_hour    articleid         trend
0          2024-09-25 00   1051889419      0.000000
166        2024-09-25 01   a102359136    100.000000
336        2024-09-25 02  a1092648263    800.000000
563        2024-09-25 03   a396197070    300.000000
697        2024-09-25 04  a2092657122    350.000000
827        2024-09-25 05   a149740916    550.000000
963        2024-09-25 06  a1001587316   3081.481481
1436       2024-09-25 07   a981929899    700.000000
1704       2024-09-25 08   a527352587   1900.000000
1834       2024-09-25 09  a1091031912   1900.000000
2346       2024-09-25 10   a307413284   1114.285714
2634       2024-09-25 11  a1674991750    500.000000
3061       2024-09-25 12  a2124350737    800.000000
3416       2024-09-25 13  a2044183520   4100.000000
3688       2024-09-25 14  a1273833301   1080.000000
4338       2024-09-25 15   a626574968   1007.407407
4682       2024-09-25 16   a307413284   1584.210526
4995       2024-09-25 17  a1771291222    963.636364
5372       2024-09-25 18  a1729003580  25750.000000
5764       2024-09-25 19  a1481123319   3000.000000
6386       2024-09-25 20   a352774181  11450.000000
6651       2024-09-25 21  a1301681558   1200.000000
7030       2024-09-25 22  a1023237868    300.000000
7405       2024-09-25 23  a1064998416    500.000000
7728       2024-09-26 00   a608574571    200.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour    articleid  trend
3061       2024-09-25 12  a2124350737  800.0
3065       2024-09-25 12  a2135526619  450.0
3105       2024-09-25 12   a401203746  400.0

==================================================

--- Younger than 50 ---
Most trending articles per hour:
     timestamp_date_hour    articleid         trend
0          2024-09-25 00   1153615193      0.000000
220        2024-09-25 01  a1066573877    200.000000
440        2024-09-25 02  a1405423139    800.000000
611        2024-09-25 03   a149740916    700.000000
788        2024-09-25 04  a1674991750    400.000000
1006       2024-09-25 05   a333414059    450.000000
1227       2024-09-25 06  a2135526619   3700.000000
1394       2024-09-25 07  a1346282607    600.000000
1896       2024-09-25 08   a981929899   3300.000000
1976       2024-09-25 09  a1091031912   1233.333333
2525       2024-09-25 10   a307413284   1128.571429
2983       2024-09-25 11   a679940156    500.000000
3112       2024-09-25 12  a1066573877    550.000000
3644       2024-09-25 13  a2044183520   1900.000000
3917       2024-09-25 14  a1273833301   1080.000000
4562       2024-09-25 15   a626574968   1291.304348
4909       2024-09-25 16   a307413284   1542.857143
5217       2024-09-25 17  a1771291222    843.750000
5619       2024-09-25 18  a1729003580  18533.333333
6177       2024-09-25 19   a622460196   4500.000000
6612       2024-09-25 20   a352774181  21400.000000
6909       2024-09-25 21  a1301681558    450.000000
7310       2024-09-25 22    475061070    300.000000
7899       2024-09-25 23   a509459291   1100.000000
7989       2024-09-26 00  a1321149176    100.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour    articleid  trend
3112       2024-09-25 12  a1066573877  550.0
3346       2024-09-25 12   a527352587  400.0
3331       2024-09-25 12   a401203746  350.0

==================================================

--- Older than 50 ---
Most trending articles per hour:
     timestamp_date_hour    articleid         trend
0          2024-09-25 00   1051889419      0.000000
208        2024-09-25 01  a1359524837    300.000000
345        2024-09-25 02  a1023237868    400.000000
525        2024-09-25 03  a1066573877    300.000000
675        2024-09-25 04  a1075076497    500.000000
932        2024-09-25 05   a343213321    400.000000
1003       2024-09-25 06  a1001587316   3106.896552
1281       2024-09-25 07  a1193872604    500.000000
1776       2024-09-25 08   a527352587   2500.000000
1923       2024-09-25 09  a1091031912   1533.333333
2469       2024-09-25 10   a376848384    700.000000
2777       2024-09-25 11  a1871307966    758.333333
3049       2024-09-25 12  a1193872604    900.000000
3551       2024-09-25 13  a2044183520   1666.666667
4068       2024-09-25 14   a754500819  12800.000000
4448       2024-09-25 15   a626574968    800.000000
4788       2024-09-25 16   a307413284   1500.000000
5114       2024-09-25 17  a1771291222   1009.090909
5509       2024-09-25 18  a1729003580   7257.142857
5914       2024-09-25 19  a1481123319   5600.000000
6529       2024-09-25 20   a352774181  24900.000000
6800       2024-09-25 21  a1301681558    900.000000
7272       2024-09-25 22  a1409052368    300.000000
7575       2024-09-25 23  a1064998416    700.000000
7874       2024-09-26 00  a2011559685    200.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour    articleid  trend
3191       2024-09-25 12  a1998029667  900.0
3049       2024-09-25 12  a1193872604  900.0
3210       2024-09-25 12  a2124350737  900.0

==================================================

--- Global ---
Most trending articles per hour:
      timestamp_date_hour    articleid         trend
0           2024-09-25 00   1051889419      0.000000
453         2024-09-25 01     41244638    500.000000
1017        2024-09-25 02  a1973238226    400.000000
1269        2024-09-25 03  a1381996057    600.000000
1651        2024-09-25 04   a162307218    300.000000
1960        2024-09-25 05  a1306969954   1300.000000
2561        2024-09-25 06  a2135526619   6700.000000
2890        2024-09-25 07   a117538889    400.000000
4028        2024-09-25 08   a981929899    959.090909
4242        2024-09-25 09  a1091031912   1281.818182
5422        2024-09-25 10   a307413284    763.636364
6058        2024-09-25 11  a1502952156   1200.000000
7319        2024-09-25 12   a706691965   1450.000000
7967        2024-09-25 13  a2044183520   2042.857143
9083        2024-09-25 14   a754500819  30633.333333
9979        2024-09-25 15    a71286407   1100.000000
10703       2024-09-25 16   a307413284   1102.127660
11421       2024-09-25 17  a1771291222   1036.842105
12322       2024-09-25 18  a1729003580   9583.333333
13599       2024-09-25 19   a622460196   5275.000000
14564       2024-09-25 20   a352774181  15360.000000
15648       2024-09-25 21   a278214454    700.000000
16356       2024-09-25 22  a1549685398    400.000000
17010       2024-09-25 23  a1064998416    550.000000
17548       2024-09-26 00     40272285    100.000000

Top 3 trending articles between 12 and 13:
     timestamp_date_hour    articleid   trend
7319       2024-09-25 12   a706691965  1450.0
6575       2024-09-25 12    306726484   700.0
6921       2024-09-25 12  a1471152969   700.0

==================================================